<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MistApi</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <nav>
        <div>
            <img src="./imgs/mistbornLogo.png" alt="logo.png" id="logo">

            <div>
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/MatiasFranco289/Mistborn-API">Documentation</a></li>
                <li><a href="/profile">Login/Register</a></li>
            </div>
        </div>
    </nav>

    <div id="mainSection">
        <div id="titleSection">
            <img src="./imgs/mistbornLogo.png" alt="logo2.png">
            <h1>MISTAPI</h1>
            <h2>A mistborn era 1 RESTful API</h2>
            <h3>"I write these words in HTML, for anything not set in HTML cannot be trusted."</h3>
        </div>

        <div id="infoWrapper">
            <div class="infoSection">
                <h3>What is this?</h3>

                <div>
                    <p>
                        This is a RESTful API developed with Node.JS and Express about 
                    Mistborn era 1, A series of fatansy books written by Brandon Sanderson.
                    </p>
                </div>
            </div>
    
            <div class="infoSection">
                <h3>Where do i start?</h3>

                <div>
                    To use this API you have to <a href="/profile">Login or sign up</a> first,
                    then you can start by reading the <a href="/documentation">documentation</a>.
                </div>
            </div>
        </div>
    </div>
    
    <footer>
       <p>Created by <a href="https://github.com/MatiasFranco289">Matias Franco</a></p>
    </footer>
</body>
</html>